body{
    margin:-5px 0px 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: fixed;
    background: white;  
}
.header-top{
    height:50px;
    width:100%;
    text-decoration: none;
    background-color: rgb(236 152 137);;
    text-align: center;
    padding: 0px 17px;

}
.header-top-align a {
    margin:10px 0px;
    text-decoration: none;
    color:#1b0303;
    font-weight: 600;
    font-size: 24px;
}
.header-top-align{
    height: 50px;
    padding: 10px 0;
}
.header-between{
    display: flex;
    height:62px;
    padding: 0px 44px;
}
.header-phone{
    display: flex;
    margin: 22px 6px;
}
.phone p{
    margin: 0px 5px;
    font-weight: bold;
}
.logo img{
    width: 95px;
    margin-left: 16px;
}
.menu-item a{
    text-decoration: none;
    list-style: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
    padding:0px 25px;
}

.top-menu ul{
    list-style: none;
    display: flex;
    margin:33px 0px;
}
.top-menu ul.sub{
    margin:0px;
}
.menu-item:hover >a{
    color:#9b3434;
}
ul.sub-menu{ margin: 0px ;}
ul.sub-menu a{
    /*display: none;*/
    z-index: 999;
    margin: 0;
    padding: 10px 2px;
    /*top: 100%;
    left: 0;*/
    width: 220px;
    float: left;
   background: #faf8f8;
    border: 1px solid #ddd;
}
ul.sub-menu a:hover{
    background: rgb(236 152 137);
}
li.sub{
     position: relative;}

ul.sub-menu{
     position: absolute; display: none; }

li.sub:hover >ul.sub-menu{
    display: block;}
    
li.sub:hover > a{
    display: block;
}
.list-icon{
    padding-top: 28px;
    padding-left:14px;
    border: 20px ;   
}
.input-search{
    width:250px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-width: 2px ;
    border-bottom-color:#000;
}
.cop{
    padding: 30px 8px;
}
.videosale{
    width: 70%;
    padding-top:72px;
}
.product-price-old{
    color: #000000;
        text-align: center;
        text-decoration-line: line-through;
    }
    .product-price-new{
        color: #de1818;
        font-size: 20px;
        font-weight: bold;
    }
.img__sale{
    color: black;
    text-align: center;
    font-size: 17px;
    
}
.img__sale a{
    text-decoration: none;
    margin-bottom: 0px;
    color:#000000;
}
.img__sale p{
    margin-bottom: 3px;
}

.product-id1 img{
    width: 97%;

}
.product-id1 img:hover{
    transform: scale(1.1);

}
.sale{
    display: flex;
    margin-bottom: 25px;
    padding-top: 52px;
    padding-left: 60px;
    padding-right: 60px;

 
}
.product-id1{
    width:100%;
}
.sale-sandal
{
    margin-left: 2px;
}
.product-price{
    font-size: 14px;
    margin-top: 5px;
}
.click:hover{
    text-decoration:underline;
    color:#43217b;
}
.buy{
    text-align: center;
    margin-top: 17px;
}
.buy input{
    height: 40px;
    font-size: 15px;
    border: 4px solid white;
    margin-right: 10px;
    background-color: #3db39d;
    color: white;
}
.buy input:hover{
    background-color: rgb(91, 148, 92);
    transform: scale(1.1);
}
.next-last{
    display: flex;
    margin: 0px 66px;
}
.information{
    padding: 0 15%;
}
ul{
    list-style: none;
    padding-left: 10px;
}
.font{
    margin-bottom: 18px;
}
.font a{
    text-decoration: none;
    color:#000000;
}
footer{
    text-align: center;
   padding-bottom: 20px;
   color:rgb(242, 225, 225);
    background-color: #504c4c;;

}
footer a{
    color:rgb(242, 225, 225);
}
@media(max-width:700px)
{
  header{
      width:625px;  
      position: static;  
  }
  .header-between{
      width:500px;
      display: block;
    
  }
  .top-menu .menu-page-menu{
      display: block;
  }
  .sale{
    margin-top: 300px;
    display: block;
  }
  .next-last{
    display: block;
}
footer{
    width:625px;
}
.information{
    display: block;
}
.information {
    padding:0;
}
}